{{!< layout}}

    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h1>Seatsurfing for Confluence</h1>
            </div>
        </div>
    </header>

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <p>You have successfully installed Seatsurfing for Confluence!</p>
                <p>To make the app work with your instance of Seatsurfing, please <a href="{{hostBaseUrl}}/plugins/servlet/ac/{{ addonKey }}/seatsurfing-config-page" target="_parent">configure the app</a>.</p>
            </section>
        </div>
    </div>
